
body {
    margin: 10;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 1px solid wheat;
    border-radius: 20px;
    height: 320px;
    width: 320px;
    background-color:#292829 ;
}

.buttons {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 120px;
   
}
.cloneButton{
    margin-bottom: 10px;
    border: 1px solid #FFA000;
    transition:.4s;
    height: 60px;
    width: 100px;
    border-radius: 16px;
    background-color: #F4CE14;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.cloneButton :hover {
    transition: .2s;
    background: #FFA000;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #FFA000;
    transform: translate(-3px);
}
.cloneButton:active {
    transition: .2s;
    background: #FFA000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #FFA000;
}
.donateButton{
    border:#45474B;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(54, 150, 54);
    cursor: pointer;

}
.donateButton:active {
    transition: .2s;
    background: #84bc36;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #FFA000;
}
